* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Markazi Text";
}

.header-nav {
  display: flex;
}

.container {
  list-style-type: none;
}

.container {
  background-color: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

.first-section {
  display: flex;
  justify-content: space-between;
  background-color: #495e57;
}

.first-article,
.second-article {
  width: 300px;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* .nav-item {
    display: ;
  } */

.nav-item {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
  font-family: Karla;
  font-weight: bold;
  color: black;
}

.container a:hover {
  background-color: #f4ce14;
}

h1 {
  font-size: 64px;
  color: #f4ce14;
}

h2 {
  font-size: 40px;
  color: #ffffff;
}

h4 {
  font-size: 16px;
}

button {
  margin-top: 20px;
  background-color: #f4ce14;
  font-size: 18px;
  padding: 10px;
  border-radius: 16px;
  font-weight: 500;
}

.second-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

section > p {
  font-size: 32px;
}

.third-section {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.third-section article {
  background-color: lightgray;
  width: 300px;
  height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

/* h4 {
  font-size: 18px;
} */

span {
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
  color: red;
}

#bike {
  margin-left: 20px;
}

footer {
  display: flex;
  height: 100px;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  font-family: Karla;
  font-weight: 400;
}

footer > div {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-container {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-nav-item {
  display: block;
  font-size: 12px;
  padding: 5px;

  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  font-family: Karla;
  font-weight: 400;
  color: black;
}
